body {
    background-color: #FFDE00;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 2 / 2 / 5;
}

.div2 {
    grid-area: 2 / 2 / 4 / 5;
    border-radius: 10px;
    background-color: #CC0000;
    border-style: solid;
    border-color: #3B4CCA;
}

.fontStyle {
    text-shadow: -5px 0 #3B4CCA, 0 5px #3B4CCA, 5px 0 #3B4CCA, 0 -5px #3B4CCA;
    color: #FFDE00;
    font-family: "Pokemon";
}

.btn-poke {
    text-shadow: -3px 0 #3B4CCA, 0 3px #3B4CCA, 3px 0 #3B4CCA, 0 -3px #3B4CCA;
    color: #FFDE00;
    font-family: "Pokemon";
    border-radius: 10px;
    border-color: #3B4CCA;
    height: 40px;
}

.search {
    border-radius: 10px;
    caret-color: #CC0000;
    border-color: #3B4CCA;
    width: 350px;
    height: 30px;
}

@font-face {
    font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}